body {
    font-family: Arial, sans-serif;
    background: green;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form label {
    margin-top: 10px;
    font-weight: bold;
}

.login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-btn {
    margin-top: 20px;
    background-color: #28a745; /* nice green */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #218838; /* darker green on hover */
}

/* Back to Home Container */
.back-home {
    margin-top: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;         
}

.back-home a {
    text-decoration: none;
    color: #007bff;
}

.back-home a:hover {
    text-decoration: underline;
}
