body {
    font-family: Arial, sans-serif;
    background: green;
}

.container {
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* AUTH SECTION */
.auth-section {
  flex: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
    gap: 50px;
  justify-content: center;
  padding: 40px 10px;
  background: #e6ffe6;
}

.auth-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 35px 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.admin-card {
  margin-top: 0 !important;
}

.auth-icon {
  background: #e6ffe6;
  color: #006400;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 28px;
  margin: 0 auto 12px;
}

.auth-title {
  font-size: 20px;
  font-weight: 600;
  color: #006400;
  margin-bottom: 5px;
}

.auth-subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Tabs */
.auth-tabs {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background: #f2f9f2;
  margin-bottom: 20px;
}

.tab-btn {
  flex: 1;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background: none;
  transition: all 0.3s ease;
}

.tab-btn.active {
  background: #fff;
  color: #006400;
  border-bottom: 2.5px solid #006400;
}

/* FORM STYLING */
.login-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
}

.login-form input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 17px;
  color: #666;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: #228B22;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  transition: 0.3s;
  box-sizing: border-box;
}

.login-form button:hover {
  background: #006400;
}

/* Back to Home Container */
.back-home {
    margin-top: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.back-home a {
    text-decoration: none;
    color: #007bff;
}

.back-home a:hover {
    text-decoration: underline;
}
